name: Ci/Cd backend
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Docker/Dockerfile.backend
          push: true
          no-cache: true
          tags: monishdev/http-backend:${{ github.sha }}
      - run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/ssh_key
          chmod 600 ~/ssh_key
          ssh -o StrictHostKeyChecking=no -i ~/ssh_key ubuntu@13.233.131.120 << 'EOF'
          # Stop and remove the container if it exists
          if sudo docker ps -a --format '{{.Names}}' | grep -q '^http-backend$'; then
            sudo docker stop http-backend && sudo docker rm http-backend
          fi
      
          # Pull the latest image
          sudo docker pull monishdev/http-backend:${{ github.sha }}

          # Run the new container
          sudo docker run --name http-backend -d -p 3001:3001 monishdev/http-backend:${{ github.sha }}
          EOF